<CascadingValue Value="@Id">
    <div id="@Id" class="@Class" style="@Style">
        @ChildContent
    </div>
</CascadingValue>
@code {
    [Parameter] public string Class { get; set; }
    [Parameter] public string Style { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    private Guid Id { get; set; } = new Guid();

    protected override Task OnInitializedAsync()
    {
        Id = Guid.NewGuid();
        return base.OnInitializedAsync();
    }

}