<div id="@(Id.ToString())-Handle"style="@Style" class="@Class" >
    @ChildContent
</div>

@code {
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
    [CascadingParameter] private Guid Id { get; set; }

}
